<div class="container mt-5 p-5">
  <div class="row">
    <div class="col-4">
      <h1>About me</h1>
    </div>
    <div class="col-8">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vitae
        animi recusandae? Eum voluptatibus aliquam modi odit molestiae velit a
        odio, qui debitis nihil totam, doloribus asperiores et eveniet corrupti!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus
        cum magni itaque quia modi! Tempore facere consectetur molestias magni?
        Corporis animi amet sunt autem quo eligendi nihil ex soluta asperiores.
      </p>
      <a href="CV.pdf" download="Shadwa-Resume">
        <button class="btn btn-primary">Download Resume</button>
      </a>
    </div>
  </div>
</div>
