<div class="container-fluid bg-dark-subtle mt-5 p-4">
<div class="container text-center  ">
  <h1>Skills</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit tempore totam
    eveniet voluptates ipsa deleniti dolores voluptatibus neque explicabo
    molestiae atque excepturi doloremque placeat, similique incidunt rerum, qui
    amet velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
    harum, fuga sapiente aut, exercitationem, perferendis dolor nobis earum
    dignissimos enim alias libero fugiat similique repellat ex sit. Mollitia,
    earum vel?
  </p>
</div>

<!-- ------------------------------------------------------------------------------------------------ -->
<div class="row">
  <div class="col">
    <div class="card text-center border-0">
      <div class="card-body bg-dark-subtle">
        <h5 class="card-title text-decoration-underline " style="text-underline-offset: 8px;">MY FOCUS</h5>
        <p class="card-text mt-4">UI/UX Deign</p>
        <p class="card-text">Responsive Design</p>
        <p class="card-text">Web Deign</p>
        <p class="card-text">Mobile App Deign</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="progress mb-3 " role="progressbar">
      <div
        class="progress-bar bg-info overflow-visible text-dark fw-bold float-left"
        style="width: 97%"
      >
        HTML
      </div>
    </div>
    <div class="progress mb-3" role="progressbar">
      <div class="progress-bar text-dark fw-bold bg-info" style="width: 98%">CSS</div>
    </div>
    <div class="progress mb-3" role="progressbar">
      <div class="progress-bar text-dark fw-bold bg-info" style="width: 80%">JavaScript</div>
    </div>
    <div class="progress mb-3" role="progressbar">
      <div class="progress-bar text-dark fw-bold bg-info" style="width: 20%">React</div>
    </div>
    <div class="progress mb-3" role="progressbar">
      <div class="progress-bar text-dark fw-bold bg-info" style="width: 100%">Photoshop</div>
    </div>
    <div class="progress mb-3" role="progressbar">
      <div class="progress-bar text-dark fw-bold bg-info" style="width: 100%">Adobe XD</div>
    </div>
    <div class="progress mb-3" role="progressbar">
      <div class="progress-bar text-dark fw-bold bg-info" style="width: 60%">Node js</div>
    </div>
    <div class="progress mb-3" role="progressbar">
      <div class="progress-bar text-dark fw-bold bg-info" style="width: 10%">WordPress</div>
    </div>
  </div>
</div>
</div>