<div class="container-fluid bg-dark-subtle mt-5 p-4">
  <div class="container text-center mb-4">
    <h1>Skills</h1>
    <p>
      {{ desc }}
    </p>
  </div>

  <!-- ------------------------------------------------------------------------------------------------ -->
  <div class="row">
    <div class="col">
      <div class="card text-center border-0">
        <div class="card-body bg-dark-subtle">
          <h5
            class="mb-4 card-title text-decoration-underline"
            style="text-underline-offset: 8px"
          >
            MY FOCUS
          </h5>
          <p class="card-text" *ngFor="let item of focus">
            {{ item }}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="progress mb-3"
        *ngFor="let skill of skills"
        role="progressbar"
      >
        <div
          class="progress-bar text-dark fw-bold bg-info"
          [style.width.%]="skill.percent"
        >
          {{ skill.topic }}
        </div>
      </div>
    </div>
  </div>
</div>
