<div class="container mt-5">
  <h1>Portfolio</h1>
</div>

<!--  -->
<div class="container ">
  <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
    <div class="col">
      <div class="shadow-lg " style="max-width: 18rem">
        <div
          class="card d-flex  mb-3 d-flex align-items-center"
          style="max-width: 18rem"
        >
          <div
            class="card-body d-flex justify-items-center align-items-center"
            style="height: 230px"
          >
            <h5 class="card-title text-decoration-underline">Web Design</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="shadow-lg " style="max-width: 18rem">
        <div
          class="card d-flex  mb-3 d-flex align-items-center"
          style="max-width: 18rem"
        >
          <div
            class="card-body d-flex justify-items-center align-items-center"
            style="height: 230px"
          >
            <h5 class="card-title text-decoration-underline">Mobile Design</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="shadow-lg " style="max-width: 18rem">
        <div
          class="card d-flex  mb-3 d-flex align-items-center"
          style="max-width: 18rem"
        >
          <div
            class="card-body d-flex justify-items-center align-items-center"
            style="height: 230px"
          >
            <h5 class="card-title text-decoration-underline">Logo Design</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="shadow-lg " style="max-width: 18rem">
        <div
          class="card d-flex  mb-3 d-flex align-items-center text-center"
          style="max-width: 18rem"
        >
          <div
            class="card-body d-flex justify-items-center align-items-center"
            style="height: 230px"
          >
            <h5 class="card-title">Web application development</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="shadow-lg " style="max-width: 18rem">
        <div
          class="card d-flex mb-3 d-flex align-items-center text-center"
          style="max-width: 18rem"
        >
          <div
            class="card-body d-flex justify-items-center align-items-center"
            style="height: 230px"
          >
            <h5 class="card-title">mobile application development</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="shadow-lg" style="max-width: 18rem">
        <div
          class="card d-flex mb-3 d-flex align-items-center"
          style="max-width: 18rem"
        >
          <div
            class="card-body d-flex justify-items-center align-items-center"
            style="height: 230px"
          >
            <h5 class="card-title">PWA development</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
